<div class="user-details">
  <h1> Projects </h1>
  <p>Some samples of my previous personal projects</p>
</div>
<div class="user">
  <div>
    <h2>Ninja Chat</h2>
         <p>My Ninja-Chat App uses the capabilities of the Firestore, creating a real-time app in the front end in Vue and hooking it up to a Vue Instance. The listener in our front end Vue App listens to any changes and pulls down the updated data automatically without us having to reload the page. Real-time data updates are a central feature of this app, allowing users to chat with each other.  For this project I used JavaScript in the Vue JS framework, Materialize CSS, and the FireStore database.  </p>
  
    <p>URL: <a href="https://chat.sn0wbird.com" target="_blank">chat.sn0wbird.com</a></p>
    <img src="https://raw.githubusercontent.com/Sn0wbird/particle/gh-pages/_includes/chat.png" width="75%"></img>
    <div class="tech">
      <h3>Technologies Used</h3>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-css3-plain-wordmark colored"></i>
      <i class="devicon-vuejs-plain-wordmark colored"></i>
      <img src="https://firebase.google.com/downloads/brand-guidelines/PNG/logo-vertical.png" style="background-color: darkblue;max-width: 55px;max-height: 55px;padding: 10px;margin-top: 0px;margin-bottom: -4px;padding-left: 20px;padding-right:20px">
      </br>
    </div>
    <div class="tech">
    </div>
    <hr style="display: block;margin-top: 1.5em;margin-bottom: 0.5em;margin-left: auto;margin-right: auto;border-style: inset;border-width: 1px;">
  </div>
  <div>
    <h2>Ninja Smoothies</h2>
    <p>My Ninja-Smoothie App allows the user to create, edit and delete smoothie recipes! Through creating this app, I learnt how to store data in the database in Firebase. Creating this app introduced to me the concept of C.R.U.D, (create, read, update and delete)  For this project I used JavaScript in the Vue JS framework, Materialize CSS, and the FireStore database. </p>
    <p>URL: <a href="https://smoothies.sn0wbird.com" target="_blank">smoothies.sn0wbird.com</a></p>
    <img src="https://raw.githubusercontent.com/Sn0wbird/particle/gh-pages/_includes/smoothies.png" width="75%"></img>  
    <div class="tech">
      <h3>Technologies Used</h3>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-css3-plain-wordmark colored"></i>
      <i class="devicon-vuejs-plain-wordmark colored"></i>
      <img src="https://firebase.google.com/downloads/brand-guidelines/PNG/logo-vertical.png" style="background-color: darkblue;max-width: 55px;max-height: 55px;padding: 10px;margin-top: 0px;margin-bottom: -4px;padding-left: 20px;padding-right:20px">
      </br>
    </div>
    <div class="tech">
    </div>
    <hr style="display: block;margin-top: 1.5em;margin-bottom: 0.5em;margin-left: auto;margin-right: auto;border-style: inset;border-width: 1px;">
  </div>
</div>

<div class="user">
  <div>
    <h2>Geo-Ninjas</h2>
         <p>My Geo-Ninja App logs users location on a world map upon signing in. Upon clicking on the users location pin,  a wall will pop up which allows us to post messages in real time. This project introduced to me the concept of ‘authentication’.  This allows users to sign up and login and out, and checks that a users alias and email are unique. It also utilises the Google Maps API and taught me how to grab a users native Geolocation. This project also introduced simple Firebase Cloud Functions, running back end code which is able to fire of the front end when called from the App. The App utilises JavaScript in the Vue JS framework, Materialize CSS, theFireStore database, and the Google Maps API.</p>
  
    <p>URL: <a href="https://geoninjas.sn0wbird.com" target="_blank">geoninjas.sn0wbird.com</a></p>
    <img src="https://raw.githubusercontent.com/Sn0wbird/particle/gh-pages/_includes/geo-ninjas.png" width="75%"></img>
    <div class="tech">
      <h3>Technologies Used</h3>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-css3-plain-wordmark colored"></i>
      <i class="devicon-vuejs-plain-wordmark colored"></i>
      <img src="https://firebase.google.com/downloads/brand-guidelines/PNG/logo-vertical.png" style="background-color: darkblue;max-width: 55px;max-height: 55px;padding: 10px;margin-top: 0px;margin-bottom: -4px;padding-left: 20px;padding-right:20px">
      </br>
    </div>
    <div class="tech">
    </div>
    <hr style="display: block;margin-top: 1.5em;margin-bottom: 0.5em;margin-left: auto;margin-right: auto;border-style: inset;border-width: 1px;">
</div>

