<div class="user-details">
  <h1> Projects </h1>
  <p>Some samples of my previous personal projects</p>
</div>
<div class="user">
  <div>
    <h2>Ninja Chat</h2>
    <p>URL: <a href="https://chat.sn0wbird.com" target="_blank">chat.sn0wbird.com</a></p>
    <img src="https://raw.githubusercontent.com/Sn0wbird/particle/gh-pages/_includes/chat.png" width="75%"></img>
    <div class="tech">
      <h3>Technologies Used</h3>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-css3-plain-wordmark colored"></i>
      <i class="devicon-vuejs-plain-wordmark colored"></i>
      <img src="https://firebase.google.com/downloads/brand-guidelines/PNG/logo-vertical.png" style="background-color: darkblue;max-width: 55px;max-height: 55px;padding: 10px;margin-top: 0px;margin-bottom: -4px;padding-left: 20px;padding-right:20px">
      </br>
    </div>
    <div class="tech">
      <h3>Information</h3>
      <p>Using Vue.JS with Firebase, I created a real-time chat application which includes autoscrolling, usernames, and timestamping to order the messages.</p>
    </div>
  </div>
  <div>
    <h2>Ninja Smoothies</h2>
    <p>URL: <a href="https://smoothies.sn0wbird.com" target="_blank">smoothies.sn0wbird.com</a></p>
    <img src="https://raw.githubusercontent.com/Sn0wbird/particle/gh-pages/_includes/smoothies.png" width="75%"></img>  
    <div class="tech">
      <h3>Technologies Used</h3>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-css3-plain-wordmark colored"></i>
      <i class="devicon-vuejs-plain-wordmark colored"></i>
      <img src="https://firebase.google.com/downloads/brand-guidelines/PNG/logo-vertical.png" style="background-color: darkblue;max-width: 55px;max-height: 55px;padding: 10px;margin-top: 0px;margin-bottom: -4px;padding-left: 20px;padding-right:20px">
      </br>
    </div>
    <div class="tech">
      <h3>Information</h3>
      <p>Using Vue.JS with Firebase, I built an App where you can create and edit your own Smoothie recipes. It uses Materialize CSS and ES6 JavaScript syntax, which I have recently brushed up my skills on.</p>
    </div>
  </div>
</div>
