<div class="user-details">
  <h1> Projects </h1>
  <p>Some samples of my previous personal projects</p>
</div>
<div class="user">
  <div>
    <h2>Ninja Chat</h2>
    <p>URL: <a href="chat.sn0wbird.com">chat.sn0wbird.com</a>
    <div class="tech">
      <h3>Technologies Used</h3>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-css3-plain-wordmark colored"></i>
      <i class="devicon-javascript-plain colored"></i>
      <img src="https://firebase.google.com/downloads/brand-guidelines/PNG/logo-knockout.png" width="75px"></i>
      </br>
    </div>
    <div class="tech">
      <h3>Information</h3>
      <p>Using Vue.JS with Firebase, I created a real-time chat application which includes autoscrolling, usernames, and timestamping to order the messages.</p>
      <img src="https://github.com/Sn0wbird/particle/edit/gh-pages/_includes/chat.png"></img>
    </div>
  </div>
</div>
